@use "../../scss/variables.scss";

.boost-section {
  background-color: variables.$Dark-Violet;
  background-image: url("../../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;

  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .boost-title {
    color: #fff;
  }
}
