@use "../../scss/variables";

.hero-section {
  flex-direction: column;

  padding: 0 20px;

  .hero-texts {
    text-align: center;

    h1 {
      font-size: 2.4rem;
      font-weight: bolder;
      color: variables.$Very-Dark-Blue;

      line-height: 1.25;
    }

    p {
      color: variables.$Grayish-Violet;
      margin: 10px 0 40px;
    }
  }

  .hero-img {
    width: max-content;

    img {
      display: block;
      width: 135vw;
      margin-bottom: 40px;
    }
  }
}
