@use "../../scss/variables";

.hero-itens {
  padding: 0 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    padding: 30px 20px;
    margin: 0 0 50px;
  }

  .hero-texts {
    text-align: center;
    max-width: 500px;
    margin: auto;

    @media (min-width: 768px) {
      text-align: start;
    }

    h1 {
      font-size: 2.4rem;
      font-weight: bolder;
      color: variables.$Very-Dark-Blue;

      line-height: 1.25;

      @media (min-width: 768px) {
        font-size: 3rem;
      }

      @media (min-width: 1024px) {
        font-size: 4rem;
      }

      @media (min-width: 1200px) {
        font-size: 4.2rem;
      }
    }

    p {
      color: variables.$Grayish-Violet;
      margin: 10px 0 40px;
    }
  }

  .hero-img {
    width: max-content;

    img {
      display: block;
      width: 135vw;
      margin-bottom: 40px;

      @media (min-width: 768px) {
        width: 145%;
        // max-width: fit-content;
      }
    }
  }
}
