@use "../../../scss/variables.scss";

.card {
  background-color: #fff;
  border-radius: 5px;

  padding: 50px 20px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  position: relative;

  .card-img {
    background-color: variables.$Dark-Violet;
    border-radius: 50%;

    width: auto;

    position: absolute;
    top: -45px;

    img {
      display: block;
      padding: 22px;
    }
  }

  h3 {
    margin: 20px 0px;

    color: variables.$Very-Dark-Blue;
  }

  p {
    color: variables.$Grayish-Violet;
    font-size: 17px;
  }
}
