@use "../../scss/variables";

.action-button {
  border: none;
  background-color: variables.$Cyan;
  border-radius: 30px;
  padding: 12px 30px;

  a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
  }
}
