.header {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  img {
    display: block;
  }
}
