@use "../../scss/variables.scss";

.statistics-section {
  background-color: #f0f1f6;
  // min-height: 85vh;

  .statistics-itens {
    padding: 0 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      padding: 0 0 80px;
    }

    @media (min-width: 1200px) {
      padding: 0 0 120px;
    }

    .statistics-texts {
      padding-bottom: 100px;
      text-align: center;
      max-width: 510px;

      @media (min-width: 1200px) {
        padding-bottom: 20px;
      }

      h2 {
        color: variables.$Very-Dark-Blue;
        margin-bottom: 17px;

        @media (min-width: 768px) {
          font-size: 2rem;
        }

        @media (min-width: 1024px) {
          font-size: 2.5rem;
        }
      }

      p {
        color: variables.$Grayish-Violet;
      }
    }

    .statistics-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 90px;

      width: 100%;

      &::before {
        content: "";
        height: 55rem;
        width: 0.5rem;
        background-color: variables.$Cyan;
        position: absolute;
      }

      @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;

        &::before {
          height: 0.5rem;
          width: 55rem;
          transform: translateY(22px);
        }

        .card:nth-child(2) {
          // transform: translateY(50px);
          margin-top: 100px;
        }

        .card:nth-child(3) {
          // transform: translateY(100px);
          margin-top: 200px;
        }
      }
    }
  }
}
