@use "../../scss/variables.scss";

.shortenlink-section {
  transform: translateY(80px);

  padding: 0 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    padding: 20px;

    background-color: variables.$Dark-Violet;
    background-image: url("../../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 10px;

    input {
      border: none;
      outline: none;

      padding: 15px 20px;
      border-radius: 10px;

      &::placeholder {
        color: variables.$Grayish-Violet;
      }
    }

    button {
      cursor: pointer;

      border: none;

      padding: 15px;

      background-color: variables.$Cyan;
      border-radius: 10px;

      color: #fff;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
