@use "../../scss/variables.scss";

.shortenlink-section {
  background-color: #f0f1f6;

  .shortenlink-itens {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;

    transform: translateY(-85px);

    @media (min-width: 1220px) {
      padding: 0;
    }

    @media (min-width: 768px) {
      transform: translateY(-55px);
    }

    @media (min-width: 1200px) {
      transform: translateY(-75px);
    }
  }

  .shortenlinks-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
