@use "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

body,
input,
button {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.bg-ice {
  background-color: #f0f1f6;
}

.bg-dark-violet {
  background-color: variables.$Dark-Violet;
}

.bg-very-dark-violet {
  background-color: variables.$Very-Dark-Violet;
}
