@use "../../../scss/variables";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-list {
    display: none;
  }

  button {
    cursor: pointer;
    // color: variables.$Gray;
    color: variables.$Grayish-Violet;
    font-size: 2.2rem;
    background: none;
    border: none;
  }
}
