@use "../../../scss/variables.scss";

.shortenedLinks {
  background-color: #fff;
  border-radius: 5px;
  font-size: 17px;

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .shortenedLinks-link {
    padding: 15px 30px;
    border-bottom: 1px solid #ccc;

    @media (min-width: 1024px) {
      border: none;
    }
  }

  .shortenedLinks-linkShortened {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 15px 30px;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }

    span {
      color: variables.$Cyan;
    }

    .shortenedLinks-copyBtn {
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: variables.$Cyan;

      color: #fff;

      padding: 10px 0;

      @media (min-width: 1024px) {
        width: 110px;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .shortenedLinks-copyBtn.copied {
      background-color: variables.$Dark-Violet;
    }
  }
}
